.card {
    color: white;
    background-color: grey;
    border-radius: 1em;
    padding: 0.5em;
    margin: 1em;
}

.card.sig-1 {
    background-color: green;
}

.card.sig-2 {
    background-color: blue;
}

.card.sig-3 {
    background-color: yellow;
}

.card.sig-4 {
    background-color: orange;
}

.card.sig-5 {
    background-color: red;
}

.card h2 {
    text-align: center;
}